textarea {
    height: 100px;
    width: 270px;
    background-color: #f3f3f3;
}
.patchVacation > .vacationCard {
    height: 700px;
}
.patchVacation {
    text-align: center;
}
input[type="date"] {
    background:#f3f3f3 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}